# ==================================
# Vivado Project Files
# ==================================

# 忽略所有由Vivado生成的结果和临时文件夹
# 这些文件夹包含了所有的综合、实现、仿真结果
*.cache/
*.runs/
*.sim/
.Xil/
*.ip_user_files/
*.gen/

# 忽略日志和报告文件
*.log
*.jou
*.str
*.rpt

# 忽略波形数据库文件 (非常大)
*.wdb

# 忽略用户个人设置文件 (不应在团队间共享)
*.xpr.user

# 忽略仿真时在项目根目录生成的脚本和日志
*.bat
*.ini
*.pb
*.tcl
.vscode/

# Keil MDK-ARM Build Output / Temporary files
*.o
*.d
*.crf
*.dep
*.lnp
*.axf
*.htm
*.map
*.lst
*.sct
*.iex
*.uvguix.*
*.scvd
JLinkLog.txt
*.uvoptx

# Ignore Build folders (usually named Objects or Listings or Debug)
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
MDK-ARM/*/

# Keep the project file (Do NOT ignore these)
!*.uvprojx
!*.uvoptx

# CubeMX Temporary files
.mxproject
.project
.cproject
.settings/
# Backup files
*.bak

# --- CLion & JetBrains IDE 产生的垃圾 ---
.idea/
cmake-build-*/
*.iws
out/

# --- 编译产生的中间文件 (不仅是 CLion，任何 C 语言编译都会有) ---
*.obj

*.hex
*.bin
*.elf

# --- 调试器产生的垃圾 ---
*.jlink
*.svd

# --- 假如你有 Python 脚本产生的缓存 ---
__pycache__/
*.py[cod]

Drivers/
Middlewares/